.corpodosite{
    color: blueviolet;
}



.cabecalho{
    background-image: linear-gradient(black,blueviolet);
    color: azure;
    display: flex;
    padding: 24px 0;
}

.section1{
    background-image: linear-gradient(blueviolet,pink);
    color: azure;
    display: flex;
    padding: 100px;
}

.section2{
    background-image: linear-gradient(pink,black);
    color: azure;
    display: flex;
    padding: 100px;
}
.cabecalho-imagem{
    width: 2%;
}

.rodar{
    background-color: black;
    display: flex;
    padding: 24px;
}