.cabecalho{
    background-color: aliceblue;
    color: azure;
    display: flex;
    padding: 24px 0;
}

.section1{
    background-color: blueviolet;
    padding: 100px;
}

.section2{
    background-color: blueviolet;
    padding: 100px;
}
.cabecalho{
    width: 20%;
}
.rodar{
    background-color: black;
    padding: 24px;
}

.rodar{
    background-color: black;
}